{% extends 'chatbot/base.html' %}

{% block content %}
    <div id="chatPanel" class="panel panel-info">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-globe"></span> Activitiesdesk Room (You: Green / Service: Blue) </strong>
        </div>
        <div id="msg-list-div" class="panel-body fixed-panel">
            <ul id="msg-list" class="media-list">
                {% for message in messages %}
                    {% if message.user == request.user %}
                        <li class="media"><div class="media-body"><div class="media"><div style = "text-align:right; color : green" class="media-body"> {{ message.content }} <hr/></div></div></div></li>
                    {% else %}
                        <li class="media"><div class="media-body"><div class="media"><div style = "color : blue" class="media-body">{{ message.content }}<hr/></div></div></div></li>
                    {% endif %}
                {% endfor %}
                <script>
                    var chatList = document.getElementById('msg-list-div');
                    chatList.scrollTop = chatList.scrollHeight;
                </script>
            </ul>
        </div>
        <div class="panel-footer">
            <form method="post" id="chatbot-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Message" name="messageText" id="messageText" autofocus/>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" id="chatbot-form-btn">SEND <span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-info" type="button" id="chatbot-form-btn-clear">CLEAR <span class="glyphicon glyphicon-erase"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body fixed-panel">
            <!-- <div id="translate" class="dropdown">
                <button class="btn btn-info dropdown-toggle" value = "en" type="button" id="language-menu" data-toggle="dropdown">English<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="language-menu">
                    <li role="presentation"><a role="menuitem" value = "en" tabindex="-1">English</a></li>
                    <li role="presentation"><a role="menuitem" value = "de" tabindex="-1">German</a></li>
                    <li role="presentation"><a role="menuitem" value = "it" tabindex="-1">Italian</a></li>
                </ul>
            </div> -->
            <button id="exit-room" class="btn btn-info" type="button">EXIT <span class="glyphicon glyphicon-log-out"></span></button>
        </div>
    </div>
{% endblock %}   
{% block script %}
    <script>
    function exitRoom(){
        $.ajax({
            type: "POST",
            url: "/exitroom/",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: "roomtype=activitiesdesk",
            success: function(response) {
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    $(function() {
        $("#exit-room").click(function(e) {
            exitRoom();
            event.preventDefault();
            history.back(1);
        });
        $(".dropdown-menu li a").click(function(){
            $(this).parents(".dropdown").find(".btn").html($(this).text() + '<span class="caret"></span>');
            $(this).parents(".dropdown").find(".btn").attr('value', $(this).attr('value'));
        });
        $('#chatbot-form-btn').click(function(e) {
            e.preventDefault();
            $('#chatbot-form').submit();
        });
        $('#chatbot-form-btn-clear').click(function(e) {
            e.preventDefault();
            $('#chatPanel').find('.media-list').html('');
        });
        $('#chatbot-form').submit(function(e) {
            e.preventDefault();
            var message = $('#messageText').val();
            $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "text-align:right; color : green" class="media-body">' + message + '<hr/></div></div></div></li>');
            var req = $(this).serialize() + '&language=' + $(".dropdown .btn").attr('value');
            $.ajax({
                type: "POST",
                url: "/activitiesdeskask/",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: req,
                success: function(response) {
                    // $('#messageText').val('');
                    // var answer = response.answer;
                    // const chatPanel = document.getElementById("chatPanel");
                    // $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div style = "color : blue" class="media-body">' + answer + '<hr/></div></div></div></li>');
                    // $(".fixed-panel").stop().animate({ scrollTop: $(".fixed-panel")[0].scrollHeight}, 1000);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
    function getMessages(){
        if(!scrolling) {
            $.get('/activitiesdesk/messages/', function(messages){
                //alert(messages);
                $('#msg-list').html(messages);
                var chatlist = document.getElementById('msg-list-div');
                chatlist.scrollTop = chatlist.scrollHeight;
            });
        }
        scrolling = false;
    }
    var scrolling = false;
    $(function(){
        $('#msg-list-div').on('scroll', function(){
            scrolling = true;
        });
        refreshTimer = setInterval(getMessages, 500);
    });
    </script>
{% endblock %}
