{% extends 'chatbot/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8" style="background: #00cb82;color:rgb(0, 0, 0); text-align:center">  
            <h3><i>Direct Chat To Us</i></h3>
            <a href = "{% url: 'frontdesk' %}" class="btn btn-primary">Front desk</a>
            <a href = "{% url: 'concierge' %}" class="btn btn-primary">Concierge</a>
            <hr>
            <a href = "{% url: 'activitiesdesk' %}" class="btn btn-primary">Activities Desk</a>
            <a href = "{% url: 'reservations' %}" class="btn btn-primary">Reservations</a>
        </div>
    </div>
{% endblock %}
