{% load static %}

<html>
    <head>
        <title>Hotel Chatroom</title>
        <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    </head>
    <body>
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
            <div class="page-header">
                <h1><a href="{% url 'login'%}">Hotel Chatroom Login</a></h1>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            
        </div>
    </body>
    <script src="{% static 'jquery-1.12.0/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script>
        var themes = {
            "default": '{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}',
            "cerulean" : '{% static "bootstrap-3.3.7-dist/css/bootstrap-cerulean.min.css" %}',
            "cosmo" : '{% static "bootstrap-3.3.7-dist/css/bootstrap-cosmo.min.css" %}',
            "cyborg" : '{% static "bootstrap-3.3.7-dist/css/bootstrap-cyborg.min.css" %}'
        }
        var themesheet = $('<link href="'+ themes['{{ theme }}'] + '" rel="stylesheet" />');
        themesheet.appendTo('head');
        var themeurl = themes['{{ theme }}']; 
        themesheet.attr('href', themeurl);
    </script>
    {% block script %}
    {% endblock %}
</html>