<div class="col-xs-6 panel-body fixed-panel">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-globe"></span> Opened Chatting Room</strong>
        </div>
        <div class="panel-body fixed-panel">         
            <div id="chattingroom" class="list-group">
                {% if livechatrooms.count > 0 %}
                    {% for room in livechatrooms %}
                        <a href="{% url 'selectedroom' pk=room.pk %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-eye-open"></span> {{ room.name }}</a>
                    {% endfor %}
                {% else %}
                    <a href="{% url 'adminchatroom' %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-search"></span> there is no chatting room</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 panel-body fixed-panel">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-globe"></span>Logined Customers</strong>
        </div>
        <div class="panel-body fixed-panel">         
            <div id="chattingroom" class="list-group">
                {% if customers.count > 0 %}
                    {% for customer in customers %}
                        <a href="{% url 'offerchat' customer=customer.username %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-eye-open"></span> {{ customer.username }}</a>
                    {% endfor %}
                {% else %}
                    <a href="{% url 'adminchatroom' %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-search"></span> there is no logined customer</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- <div id="chattingroom" class="list-group">
    {% if livechatrooms.count > 0 %}
        {% for room in livechatrooms %}
            <a href="{% url 'selectedroom' pk=room.pk %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-eye-open"></span> {{ room.name }}</a>
        {% endfor %}
    {% else %}
        <a href="{% url 'adminchatroom' %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-search"></span> there is no chatting room</a>
    {% endif %}
</div> -->