{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-body fixed-panel">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>{{ user.username }}</h3>
                        </div>
                        <div class="col-xs-6">
                            <h3 id='time-part'></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-body fixed-panel">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="room" class="list-group">
                                {% for room in livechatrooms %}
                                    <a href="{% url 'selectedroom' pk=room.pk %}" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-eye-open"></span> {{ room.name }}</a>
                                {% endfor %}
                            </div>
                            <script>
                                var roomList = document.getElementById('room');
                                roomList.scrollTop = roomList.scrollHeight;
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() { 
            var interval = setInterval(function() {
                var d = new Date();
                var hours = d.getHours();
                hours = hours > 9 ? hours: "0" + hours;
                var minutes = d.getMinutes();
                minutes = minutes > 9 ? minutes: "0" + minutes;
                var seconds = d.getSeconds();
                seconds = seconds > 9 ? seconds: "0" + seconds;
                $('#time-part').html(hours + ":" + minutes + ":" + seconds);
            }, 500);
        });
        var scrolling = false;
        function getRooms(){
            if(!scrolling) {
                $.get('/service/livechatrooms/', function(livechatrooms){
                    $('#room').html(livechatrooms);
                });
            }
            scrolling = false;
        }
        $(function(){
            $('#room').on('scroll', function()
            {
                scrolling = true;
            });
            refreshTimer = setInterval(getRooms, 2500);
        });
    </script>
{% endblock %}
